@use './mixin' as m;
@use './variables' as v;

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/AeonikFont/AeonikTRIAL-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik light';
  src: url('/assets/AeonikFont/AeonikTRIAL-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik bold';
  src: url('/assets/AeonikFont/AeonikTRIAL-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach';
  src: url('/assets/countachFont/countachweb-regular-TRIAL-BF63c5f2111f1bc.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach light';
  src: url('/assets/countachFont/Countach-Light-TRIAL-BF63c5f208a6fb6.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach bold';
  src: url('/assets/countachFont/Countach-Bold-TRIAL-BF63c5f2076e572.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'Aeonik';
  font-optical-sizing: auto;
  font-size: 62.5%;
  /* 62.5% = 10px */
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-family: v.$font_primary;
  font-size: 1.6rem;
  background: v.$color_background url('/assets/bg-circle.svg') center /50% no-repeat;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.mobile {
  display: block !important;

  @include m.desktop {
    display: none !important;
  }
}

.desktop {
  display: none !important;

  @include m.desktop {
    display: block !important;
  }
}

.mobileF {
  display: flex !important;

  @include m.desktop {
    display: none !important;
  }
}

.desktopF {
  display: none !important;

  @include m.desktop {
    display: flex !important;
  }
}

.aceptpay {
  border: 1px solid v.$color_first;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 0 35px 0 0;
  font-size: 12px;
  display: flex;
  align-items: center;

  &:hover {
    border: 1px solid v.$color_second;
  }

  &__icons {
    display: flex;
    gap: 8px;
    margin: 0 0 0 20px;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;

    &.bitcoin {
      background: url('/assets/btc-svgrepo-com.svg') center /contain no-repeat;
    }

    &.etherium {
      background: url('/assets/eth-svgrepo-com.svg') center /contain no-repeat;
    }

    &.litecoin {
      background: url('/assets/ltc-svgrepo-com.svg') center /contain no-repeat;
    }

    &.dogecoin {
      background: url('/assets/doge-svgrepo-com.svg') center /contain no-repeat;
    }

    &.usdc {
      background: url('/assets/usdc-svgrepo-com.svg') center /contain no-repeat;
    }
  }
}

.icon-arrow-rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: url('/assets/arrow-right.svg') center /contain no-repeat;
}

.icon-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: v.$color_text;
  mask: url('/assets/shopping-cart.svg') center /cover no-repeat;
}

.marquee {
  display: flex;
  background-color: v.$color_background;
  padding: 20px 0;

  @include m.desktop {
    padding: 10px 0;

  }

  &__message {
    margin-right: 32px;
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    display: block;
    width: 76px;
    height: 76px;
    background: url('/assets/star-purple.svg') center center / cover no-repeat;
    margin-right: 32px;
  }

  &__parraf {
    font-family: v.$font_secondary;
    color: v.$color_text;
    font-size: 55px;
    font-weight: 900;

    @include m.desktop {

      font-size: 85px;
    }
  }

  &.animation_scroll_left {
    animation-duration: 180s;
  }
}

.button-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 200px;
  min-height: 30px;
  padding: 18px 40px;
  font-family: v.$font_secondary;
  font-weight: 700;
  font-size: 32px;
  border-radius: 5px;
  background-color: v.$color_first;
  color: v.$color_text;
}

.button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$color_first;
  border-radius: 50%;
  border: none;
  width: 48px;
  min-width: 48px;
  height: 48px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover {
  background-color: transaprent;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}