@use './mixin' as m;
@use './variables' as v;

@font-face {
  font-family: 'Aeonik';
  src: url('/assets/AeonikFont/AeonikTRIAL-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik light';
  src: url('/assets/AeonikFont/AeonikTRIAL-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik bold';
  src: url('/assets/AeonikFont/AeonikTRIAL-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach';
  src: url('/assets/countachFont/countachweb-regular-TRIAL-BF63c5f2111f1bc.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach light';
  src: url('/assets/countachFont/Countach-Light-TRIAL-BF63c5f208a6fb6.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Countach bold';
  src: url('/assets/countachFont/Countach-Bold-TRIAL-BF63c5f2076e572.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: 'Aeonik';
  font-optical-sizing: auto;
  font-size: 62.5%;
  /* 62.5% = 10px */
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  font-family: v.$font_primary;
  font-size: 1.6rem;
  background-color: v.$color_background;
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 1200px;
}

.mobile {
  display: block !important;

  @include m.desktop {
    display: none !important;
  }
}

.desktop {
  display: none !important;

  @include m.desktop {
    display: block !important;
  }
}

.mobileF {
  display: flex !important;

  @include m.desktop {
    display: none !important;
  }
}

.desktopF {
  display: none !important;

  @include m.desktop {
    display: flex !important;
  }
}