<section class="featured-products">
  <h2>{{ settings['featured-products'].settings.heading }}</h2>
  <div class="product-list">
    {% for product in products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</section>
