<header class="header" id="header">

{% render 'top-bar', sett: sett %}

  <div class="header__content">

    <div class="header__mobile">
      <button class="header__mobile--buton-menu"></button>
      <i class="header__mobile--logo-mobile"></i>
      <span class="header__mobile--text-mobile">STORE</span>
    </div>

    <div class="header__desktop">
        <i class="header__desktop--logo-desktop"></i>
    </div>

    <div class="header__aceptpay desktopF">
      <span>We Acept</span>
      <div class="header__aceptpay--icons">
      <i class="header__aceptpay--icon bitcoin"></i>
      <i class="header__aceptpay--icon etherium"></i>
      <i class="header__aceptpay--icon litecoin" ></i>
      <i class="header__aceptpay--icon dogecoin"></i>
      <i class="header__aceptpay--icon usdc"></i>
      </div>
    </div>

    <div class="header__actionlinks">
      <div class="header__links desktopF">
        <a href="#Allproducts">All Products</a>
        <a href="#collections">Collections</a>
      </div>
      <button class="header__button-card">
        <i class="header__button-card--icon"></i>
      </button>
    </div>

  </div>

</header>