<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/styles.css">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% render 'header' with settings['top-bar'] as sett %}
  <main class="main">
  {% comment %} {% include  'featured-products.liquid' %} {% endcomment %}
  </main>
  <script defer src="/main.js"></script>
</body>
</html>